@import url("https://fonts.googleapis.com/css2?family=Brygada+1918:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  --bs-orange: #fd7e14;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-primary: #f17945;
  --bs-secondary: #343661;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

header {
  background: url(../images/hero_2.jpg) no-repeat;
  background-size: cover;
  width: 100%;
  height: 690px;
}

header::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.25);
  height: 690px;
}

nav {
  position: relative;
  padding: 2.5rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
}

.logo {
  font-size: 25px;
  font-family: "Brygada 1918", serif;
  font-weight: 700;
  color: var(--bs-light);
  cursor: pointer;
}

.nav-list {
  display: flex;
  list-style: none;
  gap: 35px;
  color: var(--bs-light);
  font-size: 14px;
  cursor: pointer;
}

.nav-list a {
  text-decoration: none;
  font-size: 14px;
  color: #f0f1f3;
  font-weight: 500;
}

#servicesBtn {
  color: var(--bs-white);
}

.contact {
  display: none;
}

.dropdown-bg {
  position: relative;
}

.dropdown {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #f0f1f3;
  font-weight: 500;
}

.dropdown:hover {
  color: var(--bs-white);
}

.dropdown i {
  rotate: 90deg;
  color: var(--bs-light);
  cursor: pointer;
}

.dropdown-list {
  position: absolute;
  left: -15px;
  top: 30px;
  bottom: 0;
  right: 0;
  background-color: var(--bs-white);
  height: 130px;
  width: 175px;
  padding: 1rem 1.5rem;
  display: none;
}

.dropdown-list li {
  padding: 0.5rem 0;
  color: var(--bs-dark);
}

.dropdown-list li:hover {
  color: var(--bs-primary);
}

.hamburger,
.closeBtn {
  display: none;
  cursor: pointer;
}

nav button {
  padding: 0.6rem 1.2rem;
  border-radius: 50px;
  border: 1px solid var(--bs-primary);
  background: var(--bs-primary);
  color: var(--bs-light);
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  cursor: pointer;
}

nav button:hover {
  background: transparent;
  border: 1px solid var(--bs-white);
}

.header-section {
  position: relative;
  padding: 7rem 4rem 0 4rem;
  color: var(--bs-light);
  width: 45%;
  animation: headerAnimation 1s ease-in-out;
}

.header-section h1 {
  font-size: 60px;
  font-family: "Brygada 1918", serif;
}

.header-section p {
  padding-top: 1rem;
  line-height: 25px;
  font-size: 16px;
  font-weight: 500;
}

.video {
  padding-top: 3rem;
  display: flex;
  align-items: center;
  gap: 20px;
}

.play-btn {
  background: var(--bs-white);
  height: 50px;
  width: 50px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.play-btn i {
  color: var(--bs-dark);
}

.video p {
  padding-top: 0;
  line-height: 0;
  font-size: 14;
  font-weight: 400;
}

.overlay2 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 2;
  display: none;
}

.close-btn {
  position: absolute;
  top: 1rem;
  right: 3rem;
  cursor: pointer;
}

.video-bg {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 5%;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  display: none;
}

.video-bg iframe {
  width: 70%;
  height: 80vh;
}

@keyframes headerAnimation {
  0% {
    opacity: 0;
    transform: translateY(20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.container {
  width: 100%;
  background: #f7f7f7;
  margin-top: 0;
  padding: 5rem 4rem 5rem 4rem;
  display: flex;
  justify-content: space-between;
  opacity: 0;
}

@keyframes containerAnimation {
  0% {
    opacity: 0;
    transform: translateY(30%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.containerSlideUp {
  animation-name: containerAnimation;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

.container-section,
.second-container-section {
  width: 17.5%;
}

.container-section h1,
.second-container-section h1 {
  font-size: 30px;
  font-family: "Brygada 1918", serif;
  color: var(--bs-secondary);
  width: 80%;
}

.container-section p,
.second-container-section p {
  padding-top: 2rem;
  font-weight: 400;
  color: var(--bs-dark);
  line-height: 25px;
  font-size: 14px;
}

.container button:hover,
.second-container button:hover,
.featured-container button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.container-grid,
.second-container-grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  width: 76.5%;
  justify-content: space-between;
  gap: 30px;
}

.grid-img {
  background: rgb(255, 208, 187);
  height: 70px;
  width: 70px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-img img {
  height: 50px;
  width: 50px;
}

.container-grid h3,
.second-container-grid h3 {
  font-family: "Brygada 1918", serif;
  color: var(--bs-secondary);
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
}

.container-grid p,
.second-container-grid p {
  color: var(--bs-dark);
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
}

.container button,
.second-container button,
.featured-container-section button {
  padding: 0.7rem 1.5rem;
  border-radius: 50px;
  background: var(--bs-primary);
  color: var(--bs-light);
  border: none;
  font-size: 15px;
  font-family: "Inter", sans-serif;
  margin-top: 2rem;
}

.second-container {
  position: relative;
  width: 100%;
  margin-top: 0;
  padding: 5rem 4rem 5rem 4rem;
  display: flex;
  justify-content: space-between;
  opacity: 0;
}

@keyframes secondContainerAnimation {
  0% {
    opacity: 0;
    transform: translateY(25%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.secondContainerSlideUp {
  animation-name: secondContainerAnimation;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

.featured-container {
  padding: 7rem 4rem;
  opacity: 0;
}

.featured-container-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.featured-container-section h1 {
  font-size: 30px;
  font-family: "Brygada 1918", serif;
  color: var(--bs-secondary);
}

.featured-container-section p {
  padding-top: 1rem;
  color: var(--bs-dark);
  font-weight: 400;
  line-height: 25px;
  width: 55%;
}

.gallery {
  height: 250px;
  border-radius: 10px;
  margin-top: 5rem;
}

.featured-container-grid {
  display: grid;
  grid-template-columns: repeat(4, 22%);
  justify-content: space-between;
}

.featured-container-grid h5 {
  font-weight: 400;
  color: var(--bs-dark);
  padding-top: 2rem;
  padding-bottom: 0.2rem;
  padding-left: 1rem;
}

.featured-container-grid h4 {
  font-family: "Brygada 1918", serif;
  color: var(--bs-secondary);
  font-size: 18px;
  padding-left: 1rem;
  padding-top: 1rem;
}

.featured-container-grid p {
  font-size: 15px;
  color: var(--bs-dark);
  font-weight: 400;
  padding: 1rem 0 1rem 1rem;
}

.featured-container-grid a {
  font-size: 14px;
  color: var(--bs-primary);
  font-weight: 600;
  padding-left: 1rem;
}

.featured-container-grid a:hover {
  color: #c3592c;
  cursor: pointer;
}

@keyframes featuredContainerAnimation {
  0% {
    opacity: 0;
    transform: translateY(20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.featuredContainerSlideUp {
  animation-name: featuredContainerAnimation;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

footer {
  padding: 5rem 4rem;
  background: #e7e7e7;
}

.footer-content {
  display: flex;
}

.footer-content-left {
  width: 35%;
}

.footer-content h4 {
  font-family: "Brygada 1918", serif;
  color: var(--bs-secondary);
  font-size: 16px;
}

.footer-content-left span {
  color: var(--bs-primary);
}

.footer-content-left p {
  color: var(--bs-gray);
  font-weight: 400;
  padding-top: 2rem;
  padding-bottom: 4rem;
  line-height: 25px;
  font-size: 14px;
  width: 90%;
}

.footer-content-left button {
  height: 30px;
  width: 30px;
  border-radius: 100%;
  background: var(--bs-gray);
  color: var(--bs-white);
  border: none;
  margin-top: 2rem;
  cursor: pointer;
}

.footer-content-left button:hover {
  background: var(--bs-primary);
}

.footer-content-right {
  display: grid;
  grid-template-columns: 20% 20% 40%;
  justify-content: space-between;
  width: 60%;
  padding-left: 2rem;
}

.footer-list {
  padding-top: 2rem;
  list-style: none;
}

.footer-list li {
  padding-bottom: 1rem;
  line-height: 25px;
  font-size: 14px;
}

.footer-list a {
  color: var(--bs-gray);
  text-decoration: none;
  font-weight: 400;
}

@media (min-width: 150px) and (max-width: 884px) {
  header {
    height: 450px;
  }

  header::before {
    height: 450px;
  }

  nav {
    padding: 1.5rem 1rem;
  }

  .overlay {
    position: fixed;
    display: none;
    background-color: rgba(0, 0, 0, 0.3);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 100%;
    z-index: 2;
  }

  .nav-list {
    flex-direction: column;
    list-style: none;
    gap: 35px;
    background: var(--bs-white);
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    width: 75%;
    z-index: 2;
    padding-left: 2rem;
    display: none;
    color: var(--bs-dark);
  }

  .nav-list a {
    color: var(--bs-dark);
  }

  #servicesBtn,
  .dropdown {
    color: var(--bs-dark);
  }

  .contact {
    display: block;
  }

  .dropdown:hover {
    color: var(--bs-dark);
  }

  .dropdown i {
    color: var(--bs-dark);
  }

  .dropdown-list {
    position: relative;
    top: 10px;
    background-color: transparent;
  }

  .hamburger,
  .closeBtn {
    display: block;
  }

  .closeBtn {
    height: 20px;
    width: 20px;
    margin: 1.5rem 0 1rem 0;
    position: relative;
    left: 80%;
  }

  nav button {
    display: none;
  }

  .header-section {
    position: relative;
    padding: 2rem 1rem 0 1rem;
    color: var(--bs-light);
    width: 100%;
  }

  .header-section h1 {
    font-size: 30px;
  }

  .header-section p {
    width: 95%;
  }

  .play-btn {
    height: 45px;
    width: 50px;
  }

  .video-bg {
    height: 100vh;
    top: 5%;
    left: 0;
  }

  .video-bg iframe {
    width: 90%;
    height: 40vh;
  }

  .close-btn {
    top: 0;
    right: 1rem;
  }

  .container,
  .second-container {
    padding: 5rem 1rem;
    flex-direction: column;
  }

  .container-section,
  .second-container-section {
    width: 80%;
  }

  .container-section h1,
  .second-container-section h1 {
    font-size: 25px;
    width: 40%;
  }

  .container-grid,
  .second-container-grid {
    grid-template-columns: auto auto;
    width: 100%;
    padding-top: 2rem;
  }

  .featured-container {
    padding: 3rem 1rem;
  }

  .featured-container-section p {
    width: 100%;
  }

  .featured-container-grid {
    grid-template-columns: auto;
    row-gap: 0;
    margin-bottom: 3rem;
  }

  .featured-container-grid img {
    height: 350px;
    object-fit: cover;
    width: 100%;
  }

  .featured-container-grid h4 {
    font-size: 20px;
  }

  footer {
    padding: 5rem 1rem;
  }

  .footer-content {
    flex-direction: column;
  }

  .footer-content-left {
    width: 100%;
  }

  .footer-content-left p {
    width: 95%;
  }

  .footer-content-right {
    grid-template-columns: auto;
    width: 100%;
    padding-left: 0;
    padding-top: 3rem;
    gap: 30px;
  }
}

@media (min-width: 768px) and (max-width: 884px) {
  header {
    height: 650px;
  }

  header::before {
    height: 650px;
  }

  nav {
    padding: 1.5rem 2rem;
  }

  .nav-list {
    width: 40%;
  }

  .header-section {
    padding: 10rem 2rem 0 2rem;
  }

  .header-section h1 {
    font-size: 40px;
  }

  .container,
  .second-container {
    padding: 5rem 2rem;
  }

  .container-section h1,
  .second-container-section h1 {
    font-size: 30px;
  }

  .featured-container {
    padding: 3rem 2rem;
  }

  .featured-container-section p {
    width: 100%;
  }

  .featured-container-grid {
    grid-template-columns: 100%;
  }

  .featured-container-grid img {
    height: 700px;
    object-fit: cover;
    width: 100%;
  }

  footer {
    padding: 5rem 2rem;
  }
}
